<footer class="footer">
  <small>
    <%= t ".desc_1" %>
    <a href="http://www.railstutorial.org/">Ruby on Rails </a>
    <%= t ".desc_2" %>
    <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <% about = t ".about" %>
      <li><%= link_to (t ".about").to_s, about_path %></li>
      <li><%= link_to (t ".contact").to_s, contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news"%></a></li>
    </ul>
  </nav>
</footer>
